.THIS .picklist{ 
    width:100% !important;
}

.THIS .btn{
    width:100% !important;
}

.THIS .headerbackground{
    background-color:rgb(200, 200, 200) !important;
    padding: 5px !important;
    margin-bottom: 10px !important;
}
.THIS .line{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.THIS .items{
    height:400px;
}
.THIS .input{
    padding-left: 10px;
    padding-right: 10px;
}
.THIS .cell{
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
    margin-bottom: 5px;
    padding-top:5px;
    padding-bottom: 10px;
}