.tg {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-style: solid;
  border-width: 0px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  border-style: solid;
  border-width: 0px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-lqy6 {
  text-align: right;
  vertical-align: top;
  font-weight: 600;
}
.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}
.tg .tg-73oq {
  border-color: #000000;
  text-align: left;
  vertical-align: top;
}

.slds-button_neutral {
  color: black;
}