.THIS .calendar-container {
    height: 55vh;
    /* height: 100vh; */
}

.THIS .slds-card__header {
	margin-bottom: 0px;
	padding-top: 0px;
}

.THIS.popover-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.THIS .popover {
    z-index: 98;
    position: absolute;
}

.THIS .popover .slds-popover_medium {
    max-width: 21rem;
}

.THIS .popover .popover-header-left {
    float: left;
}

.THIS .datePicker .slds-form-element__group .slds-form-element__label {
	display: none;
}
.THIS.slds-spinner_container{
    position: fixed;
}

.THIS .slds-tabs_default__item
{
    background: white !important;
}

/* .THIS .slds-form-element__control span.slds-radio {
    display: inline;
} */
/* @media print {
    .THIS .hide-on-print{
        display: none;
      }
    .THIS .show-on-print{
        display: block;
    }
} */